### Day Objectives
- Practice on Income Dataset
- Define functions for the following data points
    - Average Income of all states from 2005 to 2013
    - State with highest average income in the last three years
    - State with lowest average income from 2007 to 2010(inclusive)
    - Print the list of all states in the same line with average income less than California
    - Print the names of states based on descending order of income in the year 2009
    - State with the lowest recorded income from 2005 to 2013

In [65]:
    # Function to read csv data
    filepath = 'DataFiles/income.csv'
    import pandas as pd
    def readCSVdata(filepath):
        return pd.read_csv(filepath)
    readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,47215,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [66]:
# Average Income of all states from 2005 to 2013
incomedf = readCSVdata(filepath)
def AvgIncomes(df):
    for i in range(len(df.values[0::])):
        columns = df.values[i][2:]
        s=0
        c=0
        for column in columns:
            s+=column
            c+=1
        #print(s)
        print(df.values[i][1],s//c)
    return

AvgIncomes(incomedf)

Alabama 41126
Alaska 58353
Arizona 48967
Arkansas 38828
California 55350

In [69]:
## State with highest average income in the last three years
def HigAvgIncomes(df):
    l=[]
    d={}
    for i in range(len(df.values[0::])):
        columns = df.values[i][-3::]
        s=0
       
        c=0
        for column in columns:
            s+=column
            c+=1
        #print(s)
        #print(df.values[i][1],s//c)
        l.append(s//c)
        d[df.values[i][1]]=l[i]
    #print(d.items())
    for i in d.items():
        if i[1] == max(l):
            print(i[0],max(l))
        
    #print(max(l))
    return

HigAvgIncomes(incomedf)

Alaska 60738

In [68]:
# State with lowest average income from 2007 to 2010(inclusive)
def LowAvgIncomes(df):
    l=[]
    d={}
    for i in range(len(df.values[0::])):
        columns = df.values[i][4:8]
        s=0
        c=0
        for column in columns:
            s+=column
            c+=1
        #print(s)
        #print(df.values[i][1],s//c)
        l.append(s//c)
        d[df.values[i][1]]=l[i]
    #print(d.items())
    for i in d.items():
        if i[1] == min(l):
            print(i[0],min(l))
        
    #print(max(l))
    return

LowAvgIncomes(incomedf)

Arkansas 38876

In [63]:
# State with the lowest recorded income from 2005 to 2013

def LowIncome(df):
    l=[]
    d={}
    for i in range(len(df.values[0::])):
        columns=min((df.values[i][2::]))
        l.append(columns)
        d[df.values[i][1]]=l[i]
        #print(df.values[i][1])
        #print(l[i])
        
    for i in d.items():
        if i[1]==min(l):
            print(i[0],":",i[1])
    return
LowIncome(incomedf)

Arkansas : 36538

In [70]:
# Print the list of all states in the same line with average income less than California

#incomedf = readfile(filepath)
def AverageLessThanCal(df):
    l=[]
    d={}
    
    for i in range(len(df.values[0::])):
        columns = df.values[i][2:]
        sum1=0
        c=0
        #print(columns)
        for column in columns:
            sum1+=column
        #print(sum1//len(df.values[0][2::]))
        #print(df.values[i][1],(sum1//len(df.values[0][2::])))
            a=sum1//len(df.values[0][2::])
        l.append(a)
    #print(l)
        d[df.values[i][1]]=l[i]
    #print(d.items())
    value=0
    k=[]
    for i in d.items():
        if i[0]=="California":
            value=i[1]
    for i in range(len(l)):
        if value>l[i]:
            k.append(l[i])
    print(k)      
       
    return 

AverageLessThanCal(incomedf)

[41126, 48967, 38828]

In [72]:
# Print the names of states based on descending order of income in the year 2009

def DescendingColumn(df):
    l=[]
    d={}
    for i in range(len(df.values[0::])):
        columns=df.values[i][2]
        l.append(columns)
        d[df.values[i][1]]=l[i]
    l=sorted(l,reverse=True)
    #print(d.items())
    for j in range(len(df.values[0::])):
        for i in d.items():
            if i[1]==l[j]:
                print(i[0],l[j])
    return 
DescendingColumn(incomedf)

Alaska 55891
California 51755
Arizona 45245
Alabama 37150
Arkansas 36658