In [13]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] -> (1,2),(1,3),(2,3) ------> 3C2 -> 3!/((3-2)!*2!)
# [1,2,3,4] -> 1,2 1,3 1,4 2,3 2,4 3,4

def Twocombinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            #for k in range(j+1, len(li)):
                #for l in range(k+1, len(li)):
                    print(li[i],li[j])
    return
Twocombinations([1,2,3,4,5])

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [14]:
def Threecombinations(li):
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            for k in range(j+1, len(li)):
                #for l in range(k+1, len(li)):
                    print(li[i],li[j],li[k])
    return
combinations([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [21]:
# [1,2,3] -> [1,2,3]
def medium(li):
    while(True):
        li2 = differencePairs(li)
        if li3[0] == li3[1]:
            break
        else:
            li3=differencePairs(li[i])
    return li3[0]

# Function to identify differences of all apirs of numbers and add those difference to same list
# It returns the updated list and original list
def differencePairs(li):
    nl=li
    newlist=[]
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d=abs(li[i]-li[j])
            if abs(li[i]-li[j]) not in li:
                newlist.append(d)
    li.extend(newlist)
    return newlist
differencePairs([1,4])

with open('Datafiles/medium-input.txt','r') as f:
    t=input(f.readline())
    for i in range(t):
        f.readline()
        li=f.readline().split()

        k=int(f.readline())
medium(li,k)

[3]

In [ ]:
# list data referencing vs data copy
# a=[1,2,3]
b=[1,2,3]
a=b.copy() # data copy through indices
a=b[:]     # data copy through indirect reference
a=b     # data referencing direct way

### Set - Data Structures in Python
Represented by {}

In [22]:
a = {1,2,3,4,5,6,6}
a        #only contains unique values

{1, 2, 3, 4, 5, 6}

In [24]:
a.add(7) # adding a single element to a set
a

{1, 2, 3, 4, 5, 6, 7}

In [26]:
for i in a:
    print(i,end=' ') # Accessing all elements in a set

1 2 3 4 5 6 7

In [32]:
b={7,8,9,1,2,3}
li=[11,12,13,1]
a.update(b,li)     # Adding Multiple elements (or) Merging mulitple sets and it returns only unique values
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [34]:
a.discard(13)   # Removes an element from the list
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [44]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}

a.union(b)      #Combines all the elements
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [37]:
a.intersection(b)  # Only gives the common elements

{1, 2, 3}

In [45]:
a.isdisjoint(b) #--> False # Checks for common elements, if any returns False else Returns True
a.isdisjoint(c)

True

In [46]:
a-b   #All elements in 'a' which are not in'b'

{4, 5, 6, 10}

In [47]:
b-a #All elements in 'b' which are not in 'a'

{7, 8, 9}

In [48]:
sorted(a) # returns elements in sorted order

[1, 2, 3, 4, 5, 6, 10]

In [49]:
a^b #Uncommon elements (or) Elements either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [50]:
d=set() #Creation of an empty list
d

set()

In [51]:
li=[1,2,3,4,5,6,7,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4, 5, 6, 7}

### Languages

* Procedural : C
* Object Oriented : Java, Python
* Scripting : PHP,Python,JavaScript,Shell,Perl
* Functional : Python,Haskell,Scala
* Logic : Prolog, Lisp

### List Comprehension

In [53]:
# N natural numbers in a list
n=10
l=[]
for i in range(1,n+1):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
li = [i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
# Apply list comprehension to store cubes for n natural numbers
li=[i*i*i for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [61]:
# Function to calculate the factorial

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n*factorial(n-1)

# Apply list comprehension to calculate factorial of n natural numbers
n = 5
factorialList = [factorial(i) for i in range(1,n+1)]
factorialList

[1, 2, 6, 24, 120]

In [79]:
# Store cumulative sum of numbers till n in a list:
# n = 3, [1,3,6]
def cumulative(n):
    s=0
    for i in range(1,n+1):
        s+=i
        #s+=1
    return s
#cumulative(3) 


n=5
c=[cumulative(i) for i in range(1,n+1)]
c

#########
cumulativeSum = [sum(range(1,i+1)) for i in range(1,n+1)]
cumulativeSum

[1, 3, 6, 10, 15]

In [91]:
# Function to store only leap years in a given range

st = 1970
et = 2019
leap=[i for i in range(st,et+1) if (i%400==0 or(i%4==0 and i%100!=0)) ]
leap

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [102]:
li=[1,2,3,2,1]
unique = []
u=[]
uni=[u.append(i) for i in li if i not in u ]
u

##########
#unique=[li[i] for i in range(0,len(li)-1) if (li[1] == li[li+1]]

[1, 2, 3]

### Iterator
* Iterable - Strings, Lists, Tuples, Sets, Dictionaries
* Convert Iterable to Iterator -> iter()
* For Loop : continuous till a condition is satisfied

* Iterator : cant stop during execution

In [109]:
it = iter('Python')
for i in it:
    print(next(it))

y
h
n

### Generators

* Generator is a Function(User Defined)

In [116]:
def generator():
    n=2
    yield n
    
    n = n ** 3
    yield n
    
    n = n ** 3
    yield n
a = generator()
next(a)
next(a)
next(a)

512

In [122]:
def gen():
    n=2
    while True:
        n ** = 3
        yield n
a = generator()
next(a)
b = next(a) ** 2
b *= next(a)
b

32768